ol {
    background-color: yellow;
}
ol li:nth-child(even){
    color: green;
}
ol li:nth-child(odd){
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
    color: red;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
.lin1, .lin2, .lin3 {
    color: blue;
}
.lin2, .lin3 {
    background-color: pink;
}
ul.aliados .ali1:hover{
    font-weight: bold;
    background-color: orange;
}
ul.aliados .ali2:hover{
    font-weight: bold;
    background-color: green;
}
ul.aliados .ali3:hover{
    font-weight: bold;
    background-color: black;
}
ul.aliados .ali4:hover{
    font-weight: bold;
    background-color: yellow;
}
ul.aliados .ali5:hover{
    font-weight: bold;
    background-color: green;
}